<div class="container py-5">

  <h3>la liste des candidats</h3>
  <form>
    <div class="form-row">

      <div class=" col-6 form-group form-inline">
        Rechercher des candidats par CNE :
        <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="searchTerm"
          (input)="search($event.target.value)" />
        
      </div>
      <div class="form-group col-3"></div>
      <div class="form-group col-3  ">
        <h3><button
          (click)="downloadCSV()"
          type="button" class="btn btn-success">
          telecharger en format CSV
           </button>
        </h3>
      </div>
    </div>

  </form>
  <div class="table-responsive">

    <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th scope="col">Num candidature</th>
          <th scope="col">CIN</th>
          <th scope="col">nom</th>
          <th scope="col">CNE</th>
          <th scope="col">1ere choix</th>
          <th scope="col">2eme choix</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let candidat of candidats listFilter: searchTerm | slice: (page-1) * pageSize : page * pageSize; index as i">

          <td>{{ candidat.Numcondidature }}</td>
          <td>{{ candidat.CIN }}</td>
          <td>{{ candidat.nomFr }}</td>
          <td>{{ candidat.CNE }}</td>
          <td>{{ allfils[candidat.choix1] }}</td>
          <td>{{ allfils[candidat.choix2] }}</td>
        </tr>
      </tbody>
    </table>

  </div>
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5" [boundaryLinks]="true"
    [pageSize]="pageSize" class="d-flex justify-content-center"></ngb-pagination>
</div>

