<div class="p-4">
    <div class="container">
        <h1> <i class="fa fa-lock" aria-hidden="true"></i> Admin</h1>
        <p>Cette section n'est accessible qu'aux administrateurs.</p>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i>
            &nbsp; <a routerLink="accounts">Gérer les comptes</a>
        </p>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i>
            &nbsp; <a routerLink="candidats">voir les candidatures</a>
        </p>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i>
            &nbsp;<a routerLink="dates">Gérer les dates importantes</a>
        </p>
    </div>
</div>