.entete {
  background: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 440px;
  margin-top: 5%;
}

.centered {
  width: 90%;
  margin: auto;
  text-align: center;
}

.hm-gradient {
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

.navbar .dropdown-menu a:hover {
  color: #616161 !important;
}

.darken-grey-text {
  color: #2E2E2E;
}

.main {
  margin-right: 0;
  display: flex;

}
.main >div{
  flex: 1; /*grow*/
  color:#ffffff
}
#cnx{
  margin-top: 20px;
  margin-left: 7px;
  background-color: #4696f3; /* Green */
  border: none;
  padding: 0 10 0 10;
  height:30px;
  color: white;
  font-size: 16px;
}


