<nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="openScrollableContent(longContent)">Critères</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">Procédures</a>
      </li>



    </ul>
    <ul class="navbar-nav ">

   
        <form *ngIf="!isLoggedIn" [formGroup]="loginForm" (ngSubmit)="handleSubmit()">

         <div class="main">

          <div   class ="login-form">
            <app-input style="display: table-cell" type='text' className="form-control form-control-sm"
              controlName='email' [controller]='loginForm.controls.email' [formGroup]='loginForm' label='Email Address'
              errorMgs1='Email is required' errorMgs2='Enter Right Email format'>
            </app-input>
          </div>
            <div>
            <app-input style="display: table-cell" type='password' className="form-control form-control-sm"
              controlName='password' [controller]='loginForm.controls.password' [formGroup]='loginForm' label='Password'
              errorMgs1='Password is required' errorMgs2='Enter atleast 3 Characters'>
            </app-input>

            </div>
            <div>
              <button id="cnx" class="btn" type="submit" [disabled]="this.loginForm.invalid" >Sign in</button>
              


           
            </div>
         </div>
           
        </form>
        <button  class="btn" [routerLink]="['/auth/register']">create</button>
          <button  class="btn" *ngIf="isLoggedIn" (click)="logout()"> Deconnexion </button>

       
      


    </ul>
  </div>
</nav>

<div *ngIf="router.url != '/auth/login' && router.url != '/auth/register' " class="card mb-3 ">
  <img class="entete" src="../../assets/Dessin12.jpg" alt="Card image cap">
  <div class="card-body">
    <h1 class="card-title d-flex justify-content-center">Condidature pour la licence professionelle

      {{year}} - {{nextyear}}
    </h1>
  </div>
</div>

<ng-template #longContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">CRITÈRES ET MÉTHODE DE NOTATION</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <accordion>
      <accordion-group heading="CRITÈRES">
        <ul>
          <li>La Note obtenue au Baccalauréat.</li>
          <li>
            Les Notes obtenues aux différents semestres (ou années) validés pondérées par leur mode de validation : V
            (validé) ou VPC (validé par compensation).
          </li>
          <li>
            Le Nombre d’Années de Retard dans la scolarité (depuis l'année du Bac).
          </li>
        </ul>
      </accordion-group>
      <accordion-group heading="METHODE DE NOTATION">
        <h3>
          Chaque note de semestre est multipliée par 0.9 si VPC
        </h3>
        <ul>
          <li>
            Moyenne = 10% Note au Bac + 90% Moyenne des notes des semestres
          </li>
          <li>
            Note du dossier = Moyenne * (0.9)AR, où AR est le nombre d’années de retard (exemples : *0.9 pour 1 année de
            retard, *0.81 pour 2 années, etc.)
          </li>
          <li>
            AR = (Année en cours – Année du Bac) – (Nombre d’années exigées pour le plus haut niveau validé) – (Nombre
            entier des années de retard justifiées)
          </li>
        </ul>
      </accordion-group>

    </accordion>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>