


<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-0 py-3">
  <div class="container-xl">
      <!-- Logo -->
      <a class="navbar-brand" [routerLink]="['/']">
          <img src="../../assets/Dessin12.jpg" class="h-9" alt="...">
      </a>
      <!-- Navbar toggle -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <!-- Nav -->
          <div class="navbar-nav mx-lg-auto">
              <a class="nav-item nav-link active" [routerLink]="['/home']"aria-current="page">Accueil</a>
              <a class="nav-item nav-link" [routerLink]="['/criteres']" >Critères</a>
              <a class="nav-item nav-link" [routerLink]="['/']">Procédures</a>
              <a class="nav-item nav-link" [routerLink]="['/form']">Formulaire d'inscription</a>
          </div>
          <!-- Right navigation -->
          <div  class="navbar-nav ms-lg-4">
              <a class="nav-item nav-link" [routerLink]="['/auth/login']">Sign in</a>
          </div>
          <!-- Action -->
          <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
              <a [routerLink]="['/auth/register']" class="btn btn-sm btn-primary w-full w-lg-auto">
                  Register
              </a>
          </div>
          
          
      </div>
  </div>
</nav>
<div *ngIf="router.url != '/auth/login' && router.url != '/auth/register' " class="card mb-3 ">
  <img class="entete" src="../../assets/Dessin12.jpg" alt="Card image cap">
  <div class="card-body">
    <h1 class="card-title d-flex justify-content-center">Condidature pour la licence professionelle

      {{year}} - {{nextyear}}
    </h1>
  </div>
</div>


<ng-template #longContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">CRITÈRES ET MÉTHODE DE NOTATION</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <accordion>
      <accordion-group heading="CRITÈRES">
        <ul>
          <li>La Note obtenue au Baccalauréat.</li>
          <li>
            Les Notes obtenues aux différents semestres (ou années) validés pondérées par leur mode de validation : V
            (validé) ou VPC (validé par compensation).
          </li>
          <li>
            Le Nombre d’Années de Retard dans la scolarité (depuis l'année du Bac).
          </li>
        </ul>
      </accordion-group>
      <accordion-group heading="METHODE DE NOTATION">
        <h3>
          Chaque note de semestre est multipliée par 0.9 si VPC
        </h3>
        <ul>
          <li>
            Moyenne = 10% Note au Bac + 90% Moyenne des notes des semestres
          </li>
          <li>
            Note du dossier = Moyenne * (0.9)AR, où AR est le nombre d’années de retard (exemples : *0.9 pour 1 année de
            retard, *0.81 pour 2 années, etc.)
          </li>
          <li>
            AR = (Année en cours – Année du Bac) – (Nombre d’années exigées pour le plus haut niveau validé) – (Nombre
            entier des années de retard justifiées)
          </li>
        </ul>
      </accordion-group>

    </accordion>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>