<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<section class="mail-seccess section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3 col-12">
				<!-- Error Inner -->
				<div class="success-inner">
					<h1><i class="fa fa-check-square-o" aria-hidden="true"></i>
                        <span>candidature ajouté avec succès !</span></h1>
					<br>
					<a href="/profile" class="btn btn-primary btn-lg">voir le profil</a>
				</div>
				<!--/ End Error Inner -->
			</div>
		</div>
	</div>
</section>