<div class="main-container">
    <section id="timeline" class="timeline-outer">
      <div class="container" id="content">
        <div class="row">
          <div class="col s12 m12 l12">
            <h2 class="blue-text lighten-1 header">procédures de candidatures a la Licences professionnelles</h2>
            <div class="card">
                <div class="card-body">
                    <ul class="myul">
                        <li> Les candidatures aux LP de l’EST- Safi sont ouvertes jusqu'à la date affichée dans le  bas de la page <a href="/#/home">"Accueil"</a>.</li>
                    <li> La sélection se fait par ordre de mérite et choix des candidats en fonction des places disponibles.</li>
                    <li> Choisissez en évaluant vos chances :<br>
                        <ul>
                            <li>Nombres actuels <a routerLink="/listDesCandidats">ici</a>.</li>
                        </ul>
                        </li>
                    <li> Vous pouvez vérifier si votre candidature a bien été validée en cliquant  <a routerLink="/listDesCandidats">ici</a>.</li>
                    <li> Les candidats présélectionnés seront visibles <a routerLink="/resultat">ici</a> 7 jours après le dernier délai.</li>
                    </ul>
                </div>
              </div>
            <ul class="timeline">
              <li class="event" data-date="">
                <h3>1- OUVERTURE ET PRÉREQUIS DES FILIÈRES PROFESSIONNELLES
                </h3>
                <p>
                    Les filières Professionnelles ne sont pas ouvertes à ceux qui n’ont pas fait d’études supérieures (Baccalauréat seul).

                    Les filières Professionnelles ne sont pas ouvertes à ceux qui viennent de filières qui ne sont pas accréditées.
                    
                    La liste des filières concernées par l'appel à candidature est affichée au début de page "Accueil"
                </p>
              </li>
              <li class="event" data-date="">
                <h3>PROCÉDURE DE CANDIDATURE</h3>
                <div id="CONDITIONS1">2-1- DESCRIPTION GÉNÉRALE DE LA PROCÉDURE (Obligatoire même pour les étudiants étrangers)</div>
                <div>
                    <table class="table align-middle mb-0 bg-white table-bordered border-primary">
                        <tbody><tr>
                            <th>Quand?</th>
                            <th>Qui est concerné?</th>
                            <th>Que faire?</th>
                        </tr>
                        <tr>
                            <td>Avant le dernier délai</td>
                            <td>Tous les candidats</td>
                            <td>Remplir le formulaire de Candidature Électronique (lire la procédure ci-dessous)</td>
                        </tr>
                       
                        <tr>
                            <td>Convocations par les filières LP concernées</td>
                            <td>Candidats au test</td>
                            <td>Sélection finale, convocation aux inscriptions et dépôt du Dossier Académique Bac original</td>
                        </tr>
                        <tr>
                            <td>Rentrée</td>
                            <td>Candidats admis avec données conformes au Dossier Académique</td>
                            <td>Inscriptions. Détails en page "Résultats".</td>
                        </tr>
                    </tbody></table>
                    <br>
                    <div class="alert alert-danger" role="alert">
                        Les candidats pouvant relire et vérifier leur Candidature Électronique, la moindre incompatibilité entre les données saisies dans celle-ci et le Dossier Académique sera considérée comme une fraude et mènera à l’exclusion pure et simple du candidat, même après son inscription.
                      </div>
                    
                </div>
                <div >2-2- CONTENU ET UTILISATION DES DOSSIERS</div>
                <table class="table align-middle mb-0 bg-white table-bordered border-primary">
                    <tbody><tr>
                        <th>Dossier</th>
                        <th>Qui ?</th>
                        <th>Comment ?</th>
                        <th>Quoi ?</th>
                        <th>Où ?</th>
                        <th>Quand ?</th>
                    </tr>
                    
                    <tr>
                        <th>Dossier Social</th>
                        <td><u>Seulement</u> pour les candidats qui, pendant <u>un an ou plus</u>, ont été salariés ou malades.</td>
                        <td>Enveloppe A4 (21x31) dont le dos comporte :
                            <ul>
                                <li>le <b>numéro de candidature</b> (obtenu à la Candidature Electronique en &lrm;&lrm;2),</li>
                                <li>les <b>nom et prénom</b>,</li>
                                <li>l'<b>adresse</b> du candidat.</li>
                            </ul>
                            </td>
                            <td>Photocopies certifiées conformes des attestations justifiant <b>plus d’un an</b> :
                            <ul>
                                
                                <li>d’activité salariée,</li>
            
                                <li>ou de maladie,</li>
            
                                <li>ou du Diplôme supplémentaire.</li>
                            </ul>    
            
                                <b><u>Ni</u></b> Attestations, <b><u>ni</u></b> Certificats de Stage sous peine d'élimination.</td>
                        <td>A l’adresse sous ce tableau :
                            <ul>
                                <li>déposé,</li>
            
                                <li>ou bien posté, assez tôt pour qu’il soit reçu avant le dernier délai </li>
                            </ul>
                            </td>
                        <td>Avant le dernier délai.</td>
                        
                    </tr>
                     <tr>
                         <th>Dossier Juridique</th>
                        <td>Les candidats qui sont convoqués au Test d’Admission.</td>
                        <td>Enveloppe A4 (21x31) dont la face avant comporte :
                            <ul>
                     <li>le numéro de candidature (obtenu après la Candidature Electronique en &lrm;2),</li>
            
                     <li>les nom et prénom du candidat.</li>
                            </ul>
                            </td>
                        <td>
                            <ul>
                                <li>Photocopie, recto verso, certifiée conforme de la Carte d’Identité Nationale,</li>
                            <li>Déclaration de candidature, remplie, datée et signée,</li>
                            <li>Image papier du formulaire électronique, datée et signée.</li>
                            </ul>
                            </td>
                        <td>Remis à la personne chargée du Contrôle d’Identité</td>
                        <td>Le jour du premier Test d’Admission (une seule fois si convoqué plusieurs fois).</td>
                        
                    </tr>
                    <tr>
                        <th>Dossier Académique</th>
                        <td>Les candidats qui sont définitivement admis, après le Test d’Admission.</td>
                        <td>Enveloppe A4 (21x31) dont la face avant comporte :
            <ul>
                     <li>le numéro de candidature (obtenu après la Candidature Electronique en &lrm;2),</li>
            
                     <li>les nom et prénom du candidat.</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Diplôme original du Baccalauréat,</li>
                                <li>Attestation originale des notes obtenues au Baccalauréat,</li>
                                <li>Originaux des toutes les Attestations des Notes et Classements obtenus après le Baccalauréat.</li>
                            </ul>
                        </td>
                        <td>Remis à l'adresse sous ce tableau.</td>
                        <td>Après la promulgation des résultats finaux.</td>
                        
                    </tr>
                </tbody></table>
                <div class="mt-3 alert alert-success" role="alert">
                    Adresse : Guichet Scolarité -- Ecole Supérieure de Technologie de Safi- Route Dar Si-Aïssa BP. 89 Avenue Echahid Mbarek El Mokhtar, Safi, MAROC
                  </div>

                <div id="CONDITIONS1">2-3- PROCÉDURE DE CANDIDATURE (1 à 6 pour tous les candidats, à 7 pour les convoqués au test, à 8 pour les Admis)</div>
                <div style="padding-left: 40px">
    
                    <div id="CONDITIONS2">1- Télécharger et lire la Déclaration de Candidature </div>
                    <div style="padding-left: 40px">
                        La Déclaration de candidature, à joindre au Dossier Juridique, doit être lue, remplie et imprimée. Alors téléchargez-la en cliquant <a href="http://candidaturelp-ests.uca.ma/Declaration%20de%20candidature.pdf">ici</a>
                    </div>
                    <div id="CONDITIONS2"> 2- Saisir les données dans le formulaire électronique </div>
                    <div style="padding-left: 40px">
                        Vous devez créer une adresse de courriel chez Google (ex: votrelogin@gmail.com, si vous en avez déjà une utilisez-la sans obligatoirement créer une autre) sinon vous risquez de ne pas recevoir l’Accusé de réception.<br>
                        <font style="color: red;font-weight: bold">La Candidature Électronique se fait en cliquant</font> <a href="./tableau/page_de_transit.html">ici</a>
                    </div>
                    <div id="CONDITIONS2"> 3- Recevoir un accusé de réception par courriel</div>
                    <ul>
                        <li>Après avoir rempli la Candidature Electronique, vous recevrez un Accusé de Réception par courriel (consultez votre boîte de réception et cherchez aussi dans Spams).</li>
                        <li>Si vous n'avez pas reçu cet Accusé de Réception, envoyez votre N°candidature à candidature-ests@uca.ac.ma  avec l'objet : "Je n'ai pas reçu l'accusé de réception".</li>
                    </ul>
                    <div id="CONDITIONS2">4- Valider la candidature avec le lien reçu dans l’accusé de réception</div>
                    <ul>
                        <li>Pour valider votre candidature, cliquez sur le lien de validation qui se trouve dans l’Accusé de Réception.</li>
                        <li>Après cela, vous pouvez vérifier que votre candidature a bien été validée en cliquant <a routerLink="/resultat">ici</a> .</li>
                    </ul>
                    <div id="CONDITIONS2">5- Corriger les erreurs de saisie, avant le dernier délai</div>
                    
                    <ul>
                        <li>Avec votre numéro de candidature, CNE et mot de passe, corrigez vous-mêmes toutes vos erreurs de saisie en cliquant <a routerLink="/">ici</a> </li>
                        <li>Si erreur dans le Nom ou le Prénom, l'établissement ou sa ville, envoyez votre N°candidature à candidature-ests@uca.ac.ma avec l'objet : "J'ai fait une erreur dans l'identification".</li>
                    </ul>    
                    <div id="CONDITIONS2">6- Imprimer le formulaire après le blocage définitif des données</div>
                    <ul>
                        <li>Nous différons exprès l'impression du formulaire pour forcer les candidats à prendre le temps de vérifier et corriger leurs données.</li>
                        <li>Imprimer le Formulaire électronique (à joindre au Dossier Juridique) ne sera possible (ici) qu’après le blocage des données et le dernier délai.</li>
                    </ul>
                    <div id="CONDITIONS2">7- Pour les Candidats convoqués au Test, remettre le DOSSIER JURIDIQUE, le jour du Test </div>
                    <div style="padding-left: 40px">
                    Remettez le Dossier Juridique à l’entrée de la salle du Test. Si vous êtes convoqué à plusieurs tests, il suffit de le remettre au 1e des Tests.
                    </div>
                    <div id="CONDITIONS2">8- Pour les Candidats Admis définitivement, remettre le DOSSIER ACADÉMIQUE avant l’inscription</div>
                    <div style="padding-left: 40px">
                    Remettez le Dossier Académique à l’adresse susmentionnée
                    </div>
                </div>
            </li>
              <li class="event" data-date="">
                <h3>CAS DE REJET DES CANDIDATURES</h3>
                <div style="padding-left: 40px">
                    Sont déclarées irrecevables les candidats :
                    <ul>
                        <!--
                        <li>qui sont Lauréats de l’O.F.P.P.T. de l’année en cours,</li>
                        -->
                        <li>qui sont déjà Titulaires d’une Licence (Conseil de l’Université Cadi Ayyad du 09/07/2013),</li>
                        <!--
                        <li>qui, tout calcul fait, ne peuvent obtenir la Licence en 12 semestres au total,</li>
                        -->
                        <li>qui déposent un Dossier Social sans obéir aux conditions exigées,</li>
                        <li>dont la Candidature Électronique comporte tout type de lacunes, d’incohérences ou de fausses déclarations décelables à l’avance,</li>
                       <!--
                        <li>dont la spécialité est jugée irrecevable car incompatible pour une accéder à une filière donnée,</li>
                       -->
                        <li>qui ne sont appuyés que par des notes de Contrôle Continu (même si ce n’est avéré qu’après la rentrée),</li>
                        <li>qui sont en retard, quelle qu’en soit la cause.</li>
                    </ul>
                    </div>
              </li>
            
            </ul>
          </div>
        </div>
      </div>
    </section>
    <br/>
  </div>