<div class="homepage">

    <div>
      <h1>l'Ecole Supérieure de Technologie lance un appel à candidature pour les filières licences professionnelles
        suivantes :
      </h1>
      <table class=" table-bordered table is-striped is-bordered mt-2 is-fullwidth">
        <thead>
          <tr>
            <th>departement</th>
            <th>Intitule</th>
            <th>Responsable</th>
            <th>email</th>
            <th>capacite</th>
  
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fil of readData">
            <td >{{fil.NomDept}}</td>
            <td>{{fil.Intitule}}</td>
            <td>{{fil.NomComplet}}</td>
            <!-- <a href="mailto:{{fil.email}}"><td>{{fil.email}}</td></a> -->
            <td>{{fil.email}}</td>
  
            <td>{{fil.capaciteMax}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  
    
  
  </div>
