<div class="container py-5">

    <div class="row">
        <div class="col-md-12 col-md-offset-3">
            <form [formGroup]="personalDetails" id="msform">
                <!-- progressbar -->
                <ul id="progressbar">
                    <li [ngClass]="step>=1 ? 'active ' : 'inactive'">les informations personnelles</li>
                    <li [ngClass]="step>=2 ? 'active' : 'inactive'">parcour universitaire</li>
                    <li [ngClass]="step>=3 ? 'active' : 'inactive'">autres informations</li>
                    <li [ngClass]="step>=4 ? 'active' : 'inactive'">choix de formation(s)</li>
                    <li [ngClass]="step==5 ? 'active' : 'inactive'">upload des fiche</li>
                </ul>
                <!-- fieldsets -->
                <fieldset *ngIf="step == 1">
                    <h2 class="fs-title">les informations personnelles</h2>

                    <input type="text" formControlName="nomFr"
                        [ngClass]="{ 'is-invalid': personal_step && personal.nomFr.errors }"
                        placeholder="nom en francais" />
                    <div *ngIf="personal_step && personalDetails.controls.nomFr.errors">
                        <div class="danger" *ngIf="personal.nomFr.errors?.required">Le nom est requis</div>
                    </div>
                    <input type="text" dir="rtl" class="keyboardInput" formControlName="nomAr"
                        [ngClass]="{ 'is-invalid': personal_step && personal.nomAr.errors }"
                        placeholder="اسم العائلة باللغة العربية " />
                    <div *ngIf="personal_step && personalDetails.controls.nomAr.errors">
                        <div dir="rtl" class="danger" *ngIf="personal.nomAr.errors?.required"> يرجى ادخال اسم العائلة
                        </div>
                    </div>
                    <input type="text" formControlName="prenomFr"
                        [ngClass]="{ 'is-invalid': personal_step && personal.prenomFr.errors }"
                        placeholder="prenom en francais" />
                    <div *ngIf="personal_step && personalDetails.controls.prenomFr.errors">
                        <div class="danger" *ngIf="personal.prenomFr.errors?.required">Le nom est requis</div>
                    </div>

                    <input type="text" dir="rtl" class="keyboardInput" formControlName="prenomAr"
                        [ngClass]="{ 'is-invalid': personal_step && personal.prenomAr.errors }"
                        placeholder="الاسم باللغة العربية" />
                    <div *ngIf="personal_step && personalDetails.controls.prenomAr.errors">
                        <div dir="rtl" class="danger" *ngIf="personal.prenomAr.errors?.required"> يرجى ادخال الاسم
                        </div>

                    </div>
                    <input type="text" formControlName="email" name="email" placeholder="Email" />
                    <div *ngIf="personal_step && personalDetails.controls.email.errors">
                        <div class="danger" *ngIf="personal.email.errors?.required">l'Email nom est requis</div>
                    </div>
                    <h3 class="mslabel" for="datenaiss"> date de naissance</h3>
                    <input type="date" formControlName="datenaiss" name="datenaiss" placeholder="date de naissance" />
                    <div *ngIf="personal_step && personalDetails.controls.datenaiss.errors">
                        <div class="danger" *ngIf="personal.datenaiss.errors?.required">la date de naissance est requis
                        </div>
                    </div>
                    <input type="text" formControlName="cin" name="cin" placeholder="CIN (code d'identite nationale)" />
                    <div *ngIf="personal_step && personalDetails.controls.cin.errors">
                        <div class="danger" *ngIf="personal.cin.errors?.required">CIN est requis</div>
                        <div class="danger" *ngIf="personal.cin.hasError('minlength')">Entrez un Cin Valid</div>
                    </div>
                    <input type="text" formControlName="cne" name="cne" placeholder="CNE(code national d'etudiant)" />
                    <div *ngIf="personal_step && personalDetails.controls.cne.errors">
                        <div class="danger" *ngIf="personal.cne.errors?.required">CNE est requis</div>
                    </div>
                    <input type="text" formControlName="LieuDeNaissance" name="LieuDeNaissance"
                        placeholder="Lieu De Naissance" />
                    <div *ngIf="personal_step && personalDetails.controls.LieuDeNaissance.errors">
                        <div class="danger" *ngIf="personal.LieuDeNaissance.errors?.required">le Lieu De Naissance est
                            requis</div>
                    </div>

                    <input type="text" formControlName="phone" name="phone" placeholder="Phone" />
                    <div *ngIf="personal_step && personalDetails.controls.phone.errors">
                        <div class="danger" *ngIf="personal.phone.errors?.required">Le telephone est requis</div>
                    </div>
                    <button (click)="next()" class="btn btn-primary" [disabled]="personal.invalid">Nex</button>

                </fieldset>
            </form>


            <form [formGroup]="addressDetails" id="msform">
                <fieldset *ngIf="step == 2">
                    <h2 class="fs-title">Address Details</h2>
                    <input type="text" formControlName="city" placeholder="City" />
                    <div *ngIf="address_step && addressDetails.controls.city.errors">
                        <div *ngIf="address.city.errors?.required">City is required</div>
                    </div>
                    <textarea rows="5" cols="5" formControlName="address" placeholder="address"></textarea>
                    <div *ngIf="address_step && addressDetails.controls.address.errors">
                        <div *ngIf="address.address.errors?.required">Address is required</div>
                    </div>
                    <input type="text" formControlName="codePostal" placeholder="code Postal" />
                    <div *ngIf="address_step && addressDetails.controls.codePostal.errors">
                        <div *ngIf="address.codePostal.errors?.required">Pincode is required</div>
                    </div>
                    <input (click)="previous()" type="button" name="previous" class="previous action-button-previous"
                        value="Previous" />
                    <input (click)="next()" type="button" name="next" class="next action-button" value="Next" />
                </fieldset>
            </form>
            <!-- education  -->
            <form [formGroup]="education" id="msform">
                <fieldset *ngIf="step == 3">
                    <h2 class="fs-title">Education</h2>
                    <div class="border-top my-3"></div>
                    <h4>les informations du baccalauréat</h4>
                    <div class="border-top my-3"></div>
                    <!--baaac  -->
                    <!-- bac -->


                    <select formControlName="bac">
                        <option disabled value="">--choisir le type de votre bac--</option>
                        <option *ngFor="let bac of bacs$ | async" [ngValue]="bac">
                            {{ bac.Intitule }}
                        </option>
                    </select>




                    <div *ngIf="education_step && education.controls.bac.errors">
                        <div *ngIf="education_.bac.errors?.required">Highest qualification is required</div>
                    </div>
                    <!-- annee bac -->
                    <label class="labels" for="anneebac">Anne du Baccalauréat</label>
                    <input type="number" name="anneebac" formControlName="anneebac" min="2014" max="2022" step="1"
                        value="2016" />

                    <div *ngIf="education_step && education.controls.anneebac.errors">
                        <div *ngIf="education_.anneebac.errors?.required">veuillez enter l'annee de votre bac</div>
                    </div>

                    <input type="text" formControlName="notebac" placeholder="note du Baccalauréat" />
                    <div *ngIf="education_step && education.controls.notebac.errors">
                        <div *ngIf="education_.notebac.errors?.required">University is required</div>
                    </div>
                    <!--baaac  -->
                    <div class="border-top my-3"></div>
                    <h4>les informations du diplome bac+2</h4>

                    <!--diplome 1  -->


                    <select formControlName="diplome" (ngModelChange)="onDiplomeChange($event)">
                        <option disabled value="">--choisir votre diplome--</option>

                        <option *ngFor="let diplo of diplomes" [value]="diplo.id">
                            {{ diplo.Intitule }}
                        </option>
                    </select>

                 

                    <select [ngClass]="{'disabledSelect' : isDiplome}"
                                    formControlName="filC" 
                                    [attr.disabled]="isDiplome? true : null"
                                    (ngModelChange)="onFiliereChange($event)" >
                      
                        <option disabled value="">--la filiere du diplome--</option>
                        <option *ngFor="let filC of filcandidat" [value]="filC.id">
                            {{ filC.Intitule }}
                        </option>
                    </select>

                    <div *ngIf="education_step && education.controls.diplome.errors">
                        <div *ngIf="education_.diplome.errors?.required">nom dipome est requis</div>
                    </div>

                    <label class="labels" for="annediplo">Anneé d'obtention du diplome</label>
                    <input type="number" name="annediplo" formControlName="annediplo" min="2014" max="2022" step="1"
                        value="2016" />

                    <div *ngIf="education_step && education.controls.annediplo.errors">
                        <div *ngIf="education_.annediplo.errors?.required">veuillez enter l'annee de votre diplome</div>
                    </div>

                    <input type="text" formControlName="notediplo" placeholder="note du Diplome universitaire" />
                    <div *ngIf="education_step && education.controls.notediplo.errors">
                        <div *ngIf="education_.notediplo.errors?.required">la note du diplome est requis</div>
                    </div>

                    <div>
                        <input class="Attester" type="checkbox" formControlName="acceptTerms" id="acceptTerms"
                            [ngClass]="{ 'is-invalid': submit && f.acceptTerms.errors }" />
                        <label for="acceptTerms" class="labels">Attester sur l'honneur l'exactitude des renseignements
                            portés à ce formulaire </label>
                        <div *ngIf="submit&& f.acceptTerms.errors" class="invalid-feedback">veuillez Attester sur
                            l'honneur l'exactitude des renseignements portés à ce formulaire</div>
                    </div>
                    <!-- diplome 1  -->
                    <input (click)="previous()" type="button" name="previous" class="previous action-button-previous"
                        value="Previous" />
                    <input (click)="next()" type="button" name="next" class="next action-button" value="Next" />

                </fieldset>
            </form>


            <form [formGroup]="choices" id="msform">
                <fieldset *ngIf="step == 4">
                    <h2 class="fs-title">le choix des formations</h2>
                    <div *ngIf="peuxpostuler==true">

                        <h2 class="mslabel">le Premier choix</h2>


                        <select formControlName="filterN1" (ngModelChange)="PremierchoixChange($event)">
                            <option disabled value="">--choisir la premiere option--</option>
                            <option *ngFor="let fil of filsApostuler" [ngValue]="fil">
                                {{ fil.Intitule }}
                            </option>
                        </select>



                        <h2 class="mslabel">le deuxieme choix</h2>

                        <select formControlName="filterN2" (ngModelChange)="deuxiemechoixChange($event)">
                            <option disabled value="">--choisir deuxieme option--</option>
                            <option *ngFor="let fil of filsApostuler" [ngValue]="fil">
                                {{ fil.Intitule }}
                            </option>
                        </select>
                        <div *ngIf="choix_step && choices.controls.filterN1.errors">
                            <div *ngIf="choix.filterN1.errors?.required">******</div>
                        </div>
                    </div>
                    <div *ngIf="!peuxpostuler">
                        <h2 class="danger">vous ne pouvez pas postuler a aucune filieres </h2>
                    </div>
                    <div *ngIf="memechoix==true">
                        <h5 class="danger">choisir une formation differente </h5>
                    </div>
                    <div [ngClass]="{'buttonHolder' : !peuxpostuler}">
                        <input (click)="previous()" type="button" name="previous"
                            class="previous action-button-previous" value="Previous" />
                    </div>


                    <input *ngIf="peuxpostuler==true &&  memechoix==false" (click)="next()" type="button" name="next"
                        class="next action-button" value="Next" />

                </fieldset>
            </form>

            <form [formGroup]="files" id="msform">
                <fieldset *ngIf="step == 5">
                    <h2 class="fs-title">Les documents</h2>


                    <label for="file">File</label>
                    <input formControlName="file1" type="file">




                    <input (click)="previous()" type="button" name="previous" class="previous action-button-previous"
                        value="Previous" />
                    <input (click)="submit()" type="submit" name="submit" class="submit action-button" value="Submit" />

                </fieldset>
            </form>
        </div>
    </div>
</div>