<div class="container py-4">

    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Note!</strong> Selectionner une candidature pour la modifier
    </div>
</div>
<div class="container py-2">
    <h3>Mes Candidatures</h3>
    <select class="mySelect" (change)="OncandidatureChange($event)">
        <option disabled selected> Selectionner une Candidature</option>
        <option *ngFor="let Onecandidature  of candidature;let i = index" [value]=Onecandidature.NumcondidatureReel>
            candidature numner: {{i+1}}</option>
    </select>


</div>
<div *ngIf="candidatureSelected" class="container py-5">


    <div class="border-top my-3"></div>
    <div class="row">
        <div class="col-md-12 col-md-offset-3" id="msform">
            <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
                
                <h4>les informations du bac</h4>
                <div class="border-top my-3"></div>
                <div class="form-row">

                    <div class="form-group col">
                        <label>Bac</label>
                        <select formControlName="Bac" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.Bac.errors }">
                            <option *ngFor="let bac of bacs" [ngValue]="bac"> {{ bac.Intitule }}</option>
                        </select>
                        <div *ngIf="submitted && f.Bac.errors" class="invalid-feedback">
                            <div *ngIf="f.Bac.errors.required">Email is required</div>
                        </div>
                    </div>
                    <!-- <div class="form-group col">
                        <label>annee Bac</label>
                        <input type="text" formControlName="anneBac" [(ngModel)]="candidature[0].Anneebac"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.anneBac.errors }" />
                        <div *ngIf="submitted && f.anneBac.errors" class="invalid-feedback">
                            <div *ngIf="f.anneBac.errors.required">Email is required</div>
                        </div>
                    </div> -->

                    <div class="form-group col">
                        <label>Note Bac</label>
                        <input type="text" formControlName="noteBac" [(ngModel)]="candidature[0].noteBac"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.noteBac.errors }" />
                        <div *ngIf="submitted && f.noteBac.errors" class="invalid-feedback">
                            <div *ngIf="f.noteBac.errors.required">Email is required</div>
                        </div>
                    </div>

                </div>
                <div class="border-top my-3"></div>
                <h4>les informations du diplome bac+2</h4>
                <div class="border-top my-3"></div>

                <div class="form-row">

                    <div class="form-group col">
                        <label>diplome</label>
                        <select formControlName="diplome" class="form-control" (ngModelChange)="onDiplomeChange($event)"
                            [ngClass]="{ 'is-invalid': submitted && f.diplome.errors }">
                            <option *ngFor="let diplome of diplomes" [ngValue]="diplome"> {{ diplome.Intitule }}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.diplome.errors" class="invalid-feedback">
                            <div *ngIf="f.diplome.errors.required">Email is required</div>
                        </div>
                    </div>
                    <div class="form-group col">
                        <label>filiere Diplome</label>
                        <select formControlName="filiereDip" class="form-control"
                            (ngModelChange)="onFiliereChange($event)"
                            [ngClass]="{ 'is-invalid': submitted && f.filiereDip.errors }">
                            <option *ngFor="let filiereDip of filcandidat" [ngValue]="filiereDip"> {{
                                filiereDip.Intitule }}</option>
                        </select>
                        <div *ngIf="submitted && f.filiereDip.errors" class="invalid-feedback">
                            <div *ngIf="f.filiereDip.errors.required">Email is required</div>
                        </div>
                    </div>
                    <div class="form-group col">
                        <label>etablissement</label>
                        <select formControlName="etablissement" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.etablissement.errors }">
                            <option *ngFor="let etablissement of etablissements" [ngValue]="etablissement"> {{
                                etablissement.Nom }} ({{etablissement.ville}})</option>
                        </select>
                        <div *ngIf="submitted && f.etablissement.errors" class="invalid-feedback">
                            <div *ngIf="f.etablissement.errors.required">Email is required</div>
                        </div>
                    </div>




                </div>

                <div class="form-row">
                    <div class="form-group col">
                        <label>Moyenne de Diplome</label>
                        <input type="text" formControlName="MoyenneDiplome" [(ngModel)]="candidature[0].MoyenneDiplome"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.MoyenneDiplome.errors }" />
                        <div *ngIf="submitted && f.MoyenneDiplome.errors" class="invalid-feedback">
                            <div *ngIf="f.MoyenneDiplome.errors.required">Email is required</div>
                        </div>
                    </div>
                    <div class="form-group col">
                        <label>Annee Diplome</label>
                        <input type="text" formControlName="AnneeDiplome" [(ngModel)]="candidature[0].AnneeDiplome"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.AnneeDiplome.errors }" />
                        <div *ngIf="submitted && f.AnneeDiplome.errors" class="invalid-feedback">
                            <div *ngIf="f.AnneeDiplome.errors.required">Email is required</div>
                        </div>
                    </div>

                </div>
                <h4>mes choix</h4>
                <div class="border-top my-3"></div>
                <div class="form-row">
                    <div class="form-group col">
                        <label>choix1</label>
                        <select formControlName="choix1" class="form-control"
                            (ngModelChange)="PremierchoixChange($event)"
                            [ngClass]="{ 'is-invalid': submitted && f.choix1.errors }">
                            <option *ngFor="let choix1 of filsApostuler" [ngValue]="choix1"> {{ choix1.Intitule }}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.choix1.errors" class="invalid-feedback">
                            <div *ngIf="f.choix1.errors.required">Email is required</div>
                        </div>
                    </div>
                    <div class="form-group col">
                        <label>choix 2 </label>
                        <select formControlName="choix2" class="form-control"
                            (ngModelChange)="deuxiemechoixChange($event)"
                            [ngClass]="{ 'is-invalid': submitted && f.choix2.errors }">
                            <option *ngFor="let choix2 of filsApostuler" [ngValue]="choix2"> {{ choix2.Intitule }}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.choix2.errors" class="invalid-feedback">
                            <div *ngIf="f.choix2.errors.required">Email is required</div>
                        </div>
                    </div>


                </div>

                <div class="form-row">
                    <div class="form-group col"></div>

                    <div class="form-group col">
                        <div *ngIf="memechoix==true">
                            <p class="danger">choisir une formation differente </p>
                        </div>
                    </div>


                </div>

                <div class="text-center">
                    <button class="btn btn-primary mr-1" [disabled]="memechoix">Modifier</button>
                    <button class="btn btn-secondary" routerLink="/profile" type="reset"
                        (click)="onReset()">Annuler</button>
                </div>
            </form>
        </div>
    </div>
</div>