<div class="jumbotron text-center">
    <h1 class="display-3">Tmerci d'avoir soumis votre candidature</h1>
    <hr>
    <p>
      Having trouble? <a href="">Contact us</a>
    </p>
    <hr>
    <div class="form-row">
      <!-- <div class="form-group col">
        <a class="btn btn-primary " [routerLink]="['/profile/edit']" role="button">Continuer vers la page d'accueil</a>

      </div> -->
      <div class="form-group col">
        <a class="btn btn-primary " [routerLink]="['//profile']" role="button">voir votre profil</a>

      </div>
      <div class="form-group col">
      <a class="btn btn-primary " [routerLink]="['/profile/edit']" role="button">modifier votre candidature</a>

      </div>

    </div>
  </div>