<div class="container py-5">

    <div class="row">
        <div class="col-md-12 col-md-offset-3" id="msform">
            <form [formGroup]="editdates" (ngSubmit)="onSubmit()">
                <h4> <i class="fa fa-calendar" aria-hidden="true"></i>
                    &nbsp; DATES IMPORTANTES </h4>
                <div class="border-top my-3"></div>
                <div class="form-row">

                    <div class="form-group col">
                        <label>Debut Candidatures</label>
                        <input type="date" formControlName="DebutCandidatures" class="form-control"
                        [(ngModel)]="mDebutCandidatures"   
                        [ngClass]="{ 'is-invalid': submitted && f.DebutCandidatures.errors }" />
                        <div *ngIf="submitted && f.DebutCandidatures.errors" class="invalid-feedback">
                            <div *ngIf="f.DebutCandidatures.errors.required">Ce champ est requis</div>
                        </div>
                    </div>
                    <div class="form-group col">
                        <label>Fin de Candidatures</label>
                        <input type="date" formControlName="FinCandidatures" class="form-control"
                        [(ngModel)]="mFinCandidatures" 
                            [ngClass]="{ 'is-invalid': submitted && f.FinCandidatures.errors }" />
                        <div *ngIf="submitted && f.FinCandidatures.errors" class="invalid-feedback">
                            <div *ngIf="f.FinCandidatures.errors.required">Ce champ est requis</div>
                        </div>
                    </div>
                    <div class="form-group col">
                        <label>Debut de Preselection</label>
                        <input type="date" formControlName="DebutPreselection" class="form-control"
                        [(ngModel)]="mDebutPreselection"  
                        [ngClass]="{ 'is-invalid': submitted && f.DebutPreselection.errors }" />
                        <div *ngIf="submitted && f.DebutPreselection.errors" class="invalid-feedback">
                            <div *ngIf="f.DebutPreselection.errors.required">Ce champ est requis</div>
                        </div>
                    </div>
                    <div class="form-group col">
                        <label>Fin de Preselection</label>

                        <input type="date" formControlName="FinPreselection" class="form-control"
                        [(ngModel)]="mFinPreselection"   
                        [ngClass]="{ 'is-invalid': submitted && f.FinPreselection.errors }" />
                        <div *ngIf="submitted && f.FinPreselection.errors" class="invalid-feedback">
                            <div *ngIf="f.FinPreselection.errors.required">Ce champ est requis</div>
                        </div>
                    </div>

                </div>
                <div class="border-top my-3"></div>
                <div class="form-row">

                 
                    <div class="form-group col">
                        <label> concours</label>
                        <input type="date" formControlName="Test" class="form-control"
                        [(ngModel)]="mTest" 
                            [ngClass]="{ 'is-invalid': submitted && f.Test.errors }" />
                        <div *ngIf="submitted && f.Test.errors" class="invalid-feedback">
                            <div *ngIf="f.Test.errors.required">Ce champ est requis</div>
                        </div>
                    </div>
                    <div class="form-group col">
                        <label>InscriptionsListP</label>
                        <input type="date" formControlName="InscriptionsListP" class="form-control"
                        [(ngModel)]="mInscriptionsListP"   
                        [ngClass]="{ 'is-invalid': submitted && f.InscriptionsListP.errors }" />
                        <div *ngIf="submitted && f.InscriptionsListP.errors" class="invalid-feedback">
                            <div *ngIf="f.InscriptionsListP.errors.required">Ce champ est requis</div>
                        </div>
                    </div>
                    <div class="form-group col">
                        <label>Inscriptions List Att</label>
                        <input type="date" formControlName="InscriptionsListAtt" class="form-control"
                        [(ngModel)]="mInscriptionsListAtt"    
                        [ngClass]="{ 'is-invalid': submitted && f.InscriptionsListAtt.errors }" />
                        <div *ngIf="submitted && f.InscriptionsListAtt.errors" class="invalid-feedback">
                            <div *ngIf="f.InscriptionsListAtt.errors.required">Ce champ est requis</div>
                        </div>
                    </div>

                </div>
                <div class="border-top my-3"></div>

                <div class="text-center">
                    <button class="btn btn-primary mr-1">Modifier</button>
                    <button class="btn btn-secondary" routerLink="/admin" type="reset"
                        (click)="onReset()">Annuler</button>
                </div>
            </form>
        </div>
    </div>
</div>