<div class="main-container">
    <section id="timeline" class="timeline-outer">
        <div class="container" id="content">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h2 class="blue-text lighten-1 header">CRITÈRES ET MÉTHODE DE NOTATION
                    </h2>
                    <ul class="timeline">
                        <li class="event" data-date=" ">
                            <h3>1- CRITÈRES</h3>
                            <ul>
                                <li>La Note obtenue au Baccalauréat.</li>
                                <li>Les Notes obtenues aux différents semestres (ou années) validés pondérées par leur
                                    mode de validation : V (validé) ou VPC (validé par compensation).</li>
                                <li>Le Nombre d’Années de Retard dans la scolarité (depuis l'année du Bac).</li>
                            </ul>
                        </li>
                        <li class="event" data-date="">
                            <h3>2- METHODE DE NOTATION</h3>
                            <ul>
                        <li>Moyenne = 10% Note au Bac + 90% Moyenne des notes des semestres</li>
                        <li>Note du dossier = Moyenne * (0.9)<sup>AR</sup>, où AR est le nombre d’années de retard
                            (exemples : *0.9 pour 1 année de retard, *0.81 pour 2 années, etc.)</li>
                        <li>AR = (Année en cours – Année du Bac) – (Nombre d’années exigées pour le plus haut niveau
                            validé) – (Nombre entier des années de retard justifiées)</li>
                    </ul>
                    </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
    <br />
</div>